@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400&family=Roboto:wght@300;400;500&family=Updock&family=Yanone+Kaffeesatz&display=swap');

body {
  margin: 0;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #efe6d5;
}

button {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.2rem;
}

button:hover{
  cursor: pointer;
  transition: all .2s ease-in-out;
  transform: scale(1.05);
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
